<main id="main" class="main">

    <div class="pagetitle">
      <h1>Cancelled Appointments</h1>
    </div>

    <h1 class="text-center text-danger" id="title">No Cancelled Appointments</h1>

    <section class="section dashboard">
      <!-- Code should be placed here -->
       <table class="table" >
        <thead>
   
      </thead>      
       </table>
    <table class="table">
         <thead>
          <tr>
            <th scope="col">Patient Name</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Specalization</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
        </tr>
         </thead>
         <tbody id="tbody">
                 
         </tbody>
      
    </table>
    </section>

  </main><!-- End #main -->
