<ng-container *ngIf="!loading">
  <div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <img src="../../../assets/1474 (1).gif" alt="">
    <p>loading...</p>
  </div>
</ng-container>
<ng-container *ngIf="loading">
  <main id="main" class="main" *ngIf="get">

    <div class="pagetitle">
      <h1>Dashboard</h1>
    </div><!-- End Page Title -->
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- doctors Card -->
            <div class="col-xxl-6 col-md-6 mt-2">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Total Doctors</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri ri-first-aid-kit-line"></i>
                    </div>
                    <div class="ps-3">
                      <h4 id="appointmentcount">{{obj.doctorObj.length}}</h4>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End doctors Card -->

            <!-- patient Card -->
            <div class="col-xxl-6 col-md-6 mt-2">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Total Hospitals</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-shield-user-line"></i>
                    </div>
                    <div class="ps-3">
                      <h4 id="patientcount">1</h4>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End patient Card -->


          </div>
          <div class="row">

            <!-- appointment Card -->
            <div class="col-xxl-6 col-md-6 mt-2">

              <div class="card info-card appointments-card">
                <div class="card-body">
                  <h5 class="card-title">Regular Appointments</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri ri-file-list-2-line"></i>
                    </div>
                    <div class="ps-3">
                      <h4 id="appointmentcount">{{obj.appointmentObj.length}}</h4>
                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End appointmnet Card -->

            <!-- Emergency Card -->
            <div class="col-md-6 mt-2">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Total Emergency</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-alarm-warning-line"></i>
                    </div>
                    <div class="ps-3">
                      <h4 id="appointmentcount">{{obj.emergencyObj.length}}</h4>
                    </div>
                  </div>

                </div>
              </div>
            </div><!-- End emergency Card -->

          </div>
        </div>



        <!-- End Left side columns -->
      </div>
    </section>



  </main>
</ng-container>