

      <!-- Code should be placed here -->
      <div class="container p-3">
    
        <div class="text-center">
            <h1>Pending Appointments</h1>
          </div>
        <div class="row">
          <div class="col-6 text-center"><button type="button" class="btn" id="notAssign">Doctor not Assigned</button></div>
          <div class="col-6 text-center"><button type="button" class="btn"  id="assign" >Doctor Assigned</button></div>
        </div>
        <div class="row">
          <table class="table">
            <thead>
              <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Time</th>
              <th>Specalization</th>
              <th>Doctor</th>
              <th>Status</th>
              <th></th>
              </tr>
            </thead>
            <tbody id="tbody">
                      
            </tbody>
        </table>
        </div>      
      </div>
    

 


